@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 900vh;
    background-color: rgb(28, 28, 30);
}



