{% extends 'base.html' %}

{% block content %}
    
    <form method="post" style="margin-left: 400px; margin-top: 400px;">
        {% csrf_token %}
        <p>
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username">
        </p>
        
        <p>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password">
        </p> 
            
        <button type="submit">Login</button>
    </form>
{% endblock  %}